data/.flows.json.backup
[
    {
        "id": "d59158a49b9b1aba",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53e07aceda5fff83",
        "type": "file in",
        "z": "d59158a49b9b1aba",
        "name": "Read image",
        "filename": "/data/images/jan.jpg",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "8c8207acd701d919"
            ]
        ]
    },
    {
        "id": "417458762fefbd9f",
        "type": "debug",
        "z": "d59158a49b9b1aba",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "cbe8ba28f2fe77bc",
        "type": "inject",
        "z": "d59158a49b9b1aba",
        "name": "Start image classification",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Start image classification",
        "payloadType": "str",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "53e07aceda5fff83"
            ]
        ]
    },
    {
        "id": "8c8207acd701d919",
        "type": "function",
        "z": "d59158a49b9b1aba",
        "name": "function 1",
        "func": "msg.payload = 'hello bleep bloop ' + JSON.stringify(msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 340,
        "wires": [
            [
                "417458762fefbd9f"
            ]
        ]
    }
]